<%= stylesheet_link_tag 'profiles/index', media: 'all' %>
<div id="content"></div>
<nav id="page-nav">
  <%= link_to "", profiles_path(page: 2) %>
</nav>
<%= javascript_include_tag 'profiles_index' %>


<!-- Modal -->
<div class="modal fade" id="message" tabindex="-1" role="dialog" aria-labelledby="sendMessageModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">쪽지 보내기(发送信息)</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for @message, url: messages_path, method: :post do |f| %>
            <%= f.error_notification %>
            <%= f.input :message, as: :text %>
            <%= f.hidden_field :receiver_id, value: '' %>
            <br/>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <%= f.button :submit, '전송(发送', class: 'btn btn-primary' %>

        <% end %>
        </div>
        </div>
  </div>
</div>
<!--쉐도우설정-->
<script type="text/javascript">
	$('.image-section-wrapper').hover(function () {
		var kids = $(this).find('.box-tooltip');
		kids.css('opacity', 1);
	}, function () {
		var kids = $(this).find('.box-tooltip');
		kids.css('opacity', 0);
	});
</script>
<!--모달 설정-->
<script type="text/javascript">
	$('#message').on('show.bs.modal', function (event) {
		var button = $(event.relatedTarget);
		var recipient = button.data('id');
		var modal = $(this);
		modal.find('#message_receiver_id').val(recipient);
	})
</script>
