<div class="mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text"><%= t("menu.signin") %></h2>
  </div>
  <div class="mdl-card__supporting-text">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <label class="mdl-textfield__label" for="email">email</label>
        <%= f.email_field :email, class: "mdl-textfield__input", id: "email" %>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <label class="mdl-textfield__label" for="password">Password</label>
        <%= f.password_field :password, class: "mdl-textfield__input", id: "password" %>
      </div>
      <p>Remember Me?</p>
      <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect margin-bottom-20" for="switch-2">
        <input type="checkbox" id="switch-2" class="mdl-switch__input" />
         <span class="mdl-switch__label"></span>
      </label>
      <%= f.submit "로그인", class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
    <% end %>
  </div>
</div>
