<% if user_signed_in? %>
    <% if current_user.notifications.length === 0 %>
        <li class="clearfix"><a href="#">알림이 없습니다.</a></li>
    <% else %>
        <% current_user.notifications.order("created_at DESC").each do |noti| %>
            <% case noti.noti_type %>
                <% when "comment" %>
                    <li class="clearfix">
                      <%= link_to post_path(noti.post_id) do %>
                          회원님의 글 <%= noti.post.title.truncate(10, ommision: '...') %>에 <strong><%= noti.sender %></strong> 님이 댓글을 남겼습니다.
                          <p class="created-at hidden-xs"><%= noti.created_at.strftime "%y-%m-%d %H:%M" %></p>
                      <% end %>
                    </li>
                <% when "post_like" %>
                    <li class="clearfix">
                      <%= link_to post_path(noti.post_id) do %>
                          회원님의 글 <%= noti.post.title.truncate(10, ommision: '...') %>을 <strong><%= noti.sender %></strong> 님이 좋아합니다.
                          <p class="created-at hidden-xs"><%= noti.created_at.strftime "%y-%m-%d %H:%M" %></p>
                      <% end %>
                    </li>
                <% when "comment_like" %>
                    <li class="clearfix">
                      <%= link_to post_path(noti.post_id) do %>
                          회원님의 댓글 <%= noti.comment.comment.truncate(10, ommision: '...') %>을 <strong><%= noti.sender %></strong> 님이 좋아합니다.
                          <p class="created-at hidden-xs"><%= noti.created_at.strftime "%y-%m-%d %H:%M" %></p>
                      <% end %>
                    </li>
                <% when "request" %>
                    <li class="clearfix">
                      <%= link_to profile_path(noti.sender_profile_id) do %>
                          <strong><%= noti.sender %></strong> 님이 회원님께 만남 신청을 했습니다.
                          <p class="created-at hidden-xs"><%= noti.created_at.strftime "%y-%m-%d %H:%M" %></p>
                      <% end %>
                    </li>
                <% when "follow" %>
                    <li class="clearfix">
                      <%= link_to profile_path(noti.sender_profile_id) do %>
                          <strong><%= noti.sender %></strong> 님이 회원님을 팔로우합니다.
                          <p class="created-at hidden-xs"><%= noti.created_at.strftime "%y-%m-%d %H:%M" %></p>
                      <% end %>
                    </li>
            <% end %>
        <% end %>
    <% end %>
<% end %>
