<!DOCTYPE html>
<html>
<head>
  <title>一起친구! 1779!</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.blue-amber.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout-icon"></div>
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title"><%= link_to '一起친구', root_path %></span>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <% if user_signed_in? %>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
              mdl-textfield--floating-label mdl-textfield--align-right">
              <label class="mdl-button mdl-js-button mdl-button--icon"
               for="fixed-header-drawer-exp">
               <i class="material-icons">search</i>
              </label>
              <div class="mdl-textfield__expandable-holder">
                <input class="mdl-textfield__input" type="text" name="searchField"
                  id="fixed-header-drawer-exp" />
                <ul class="dropdown-menu search-result">
                </ul>
              </div>
            </div>
            <%= link_to "회원정보수정", edit_profile_path(current_user.profile), class: "mdl-navigation__link" %>
            <%= link_to "쪽지함", messages_path, class: "mdl-navigation__link" %>
            <%= link_to "Log out", destroy_user_session_path, method: 'DELETE', class: "mdl-navigation__link" %>
          <% else %>
            <%= link_to t('menu.signup'), new_user_registration_path, class: "mdl-navigation__link" %>
            <%= link_to t('menu.signin'), new_user_session_path, class: "mdl-navigation__link" %>
          <% end %>
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">一起친구</span>
      <nav class="mdl-navigation">
        <% if user_signed_in? %>
          <%= link_to "회원정보수정", edit_profile_path(current_user.profile), class: "mdl-navigation__link" %>
          <%= link_to "쪽지함", messages_path, class: "mdl-navigation__link" %>
          <%= link_to "Log out", destroy_user_session_path, method: 'DELETE', class: "mdl-navigation__link" %>
        <% else %>
          <%= link_to t('menu.signup'), new_user_registration_path, class: "mdl-navigation__link" %>
          <%= link_to t('menu.signin'), new_user_session_path, class: "mdl-navigation__link" %>
        <% end %>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </main>
  </div>
  <script type="text/javascript">
    $(document).on("keyup", '[name=searchField]', function() {
      $.ajax({
        url: "/profiles/search",
        dataType: "json",
        data: {search: this.value},
        success: function(data) {
          console.log(data);
          $('.search-result li').remove();
          if(data.profiles.length == 0 || data == null) {
            $('.search-result').css('display', 'none');
          }
          else {
            $('.search-result').css('display', 'block');
          }
          data.profiles.map(function(d) {
            $('.search-result').append('<a href='+ d.url +'><li><img src='+ d.nano_user_image + ' width="50" height="50" />' + d.username +'</li></a>');
          });
        },
        error: function() {
          console.log("error!!");
        }
      });
    });
  </script>
</body>
</html>
